<!DOCTYPE html>
<html lang="en">

<head>
    <title>Login ProculinaryShop</title>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../resources/css/materialize.min.css" />
    <link rel="stylesheet" href="../../resources/css/private.css" />
    <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet" />

    <link class="icon" rel="icon" href="../../resources/img/dashboard/shopping.png" />
</head>

<body class="body-login  green">
    <!--Card para el login-->
        <div class="container contenedor-general-login">
            <div class="card">
                <div class="row">
                <div class="col l6 imagen-contenedor-login">
                    <img src="../../resources/img/private/login/banner.png" class="responsive-img" alt="">
                </div>
                <div class="col l6 m12 s12 center-align contenedor-login-privada">
                   
                        <h4>Inicio de sesión</h4>
                        <div class="inputs-login">
                            <div class="input-field l10 m12 s12 offset-l1">
                                <input placeholder="Nombre de usuario" id="usuario" type="text" class="validate">
                                <label for="usuario">Nombre de usuario</label>
                            </div>
                            <div class="input-field l10 m12 s12 offset-l1">
                                <input placeholder="Contraseña" id="pass" type="password" class="validate">
                                <label for="usuario">Contraseña</label>
                            </div>
                    
                    
                    </div>
                    <button class="waves-effect waves-light btn">Iniciar sesión</button>
                </div>
                </div>
            </div>
        </div>

    <!-- particles.js lib (JavaScript CodePen settings): https://github.com/VincentGarreau/particles.js -->

    <script src="../../resources/js/materialize.min.js"></script>
    <script src="https://kit.fontawesome.com/a1f66ad641.js" crossorigin="anonymous"></script>
    <script src="../../controllers/Private/index_private.js"></script>
    <script src="../../resources/js/particles.js"></script>
    <script src="../../resources/js/app.js"></script>
</body>

</html>