<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login ProculinaryShop</title>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../resources/css/materialize.min.css" />
    <link rel="stylesheet" href="../../resources/css/private.css" />
    <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet" />

    <link class="icon" rel="icon" href="../../resources/img/dashboard/shopping.png" />
  </head>

  <body class="body-index">
    <div id="particles-js"></div>

    <h1>ProCulinaryShop</h1>
    <a href="#modalLogin" class="button modal-trigger">
      <span class="span-box"></span>
      <span class="span-box"></span>
      <span class="span-box"></span>
      <span class="span-box"></span>
      Login
    </a>

    <div id="modalLogin" class="modal">
      <div class="modal-form-container">
        <div class="signin-signup">
          <form action="" class="sign-in-form">
            <h2 class="title">Sign in</h2>
            <div class="iinput-field-login">
              <i class="fa-solid fa-user"></i>
              <input type="text " placeholder="Username" />
            </div>
            <div class="iinput-field-login">
              <i class="fa-solid fa-lock"></i>
              <input type="password " placeholder="Password" />
            </div>
            <input type="submit" value="Login" class="btn" />
            <p class="social-text">Or sign with social platform</p>
            <div class="social-media">
              <a href="" class="social-icon">
                <i class="fab fa-facebook"></i>
              </a>
              <a href="" class="social-icon">
                <i class="fa-brands fa-instagram"></i>
              </a>
              <a href="" class="social-icon">
                <i class="fa-brands fa-twitter"></i>
              </a>
              <a href="" class="social-icon">
                <i class="fa-brands fa-google"></i>
              </a>
            </div>
          </form>
          <form action="" class="sign-up-form">
            <h2 class="title">Sign up</h2>
            <div class="iinput-field-login">
              <i class="fa-solid fa-user"></i>
              <input type="text " placeholder="Username" />
            </div>
            <div class="iinput-field-login">
              <i class="fa-solid fa-envelope"></i>
              <input type="text " placeholder="Email" />
            </div>
            <div class="iinput-field-login">
              <i class="fa-solid fa-lock"></i>
              <input type="password " placeholder="Password" />
            </div>
            <input type="submit" value="Login" class="btn" />
            <p class="social-text">Or sign with social platform</p>
            <div class="social-media">
              <a href="" class="social-icon">
                <i class="fab fa-facebook"></i>
              </a>
              <a href="" class="social-icon">
                <i class="fa-brands fa-instagram"></i>
              </a>
              <a href="" class="social-icon">
                <i class="fa-brands fa-twitter"></i>
              </a>
              <a href="" class="social-icon">
                <i class="fa-brands fa-google"></i>
              </a>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- particles.js lib (JavaScript CodePen settings): https://github.com/VincentGarreau/particles.js -->

    <script src="../../resources/js/materialize.min.js"></script>
    <script src="https://kit.fontawesome.com/a1f66ad641.js" crossorigin="anonymous"></script>
    <script src="../../controllers/Private/index_private.js"></script>
    <script src="../../resources/js/particles.js"></script>
    <script src="../../resources/js/app.js"></script>
  </body>
</html>
