<!DOCTYPE html>
<html lang="en">

<head>
    <!--Agregando etiquetas meta-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Agregando archivos de estilo-->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../../resources/css/materialize.min.css">
    <link rel="stylesheet" href="../../resources/css/public.css">




    <title>ProCulinary Shop</title>
    <link rel="icon" href="../../resources/img/home/shopping.png">
</head>

<body>
    <main class="container alinear-login  valign-wrapper">
        <div class="card-inicio  ">
            <form id="login" method="post" enctype="multipart/form-data" autocomplete="off">

                <div class="row">
                    <div class="input-field col l10 m10 s12">
                        <input placeholder="Nombre de usuario" id="usuario" name="usuario" type="text" class="validate" >
                        <label for="usuario">Nombre de usuario</label>
                    </div>
                    <div class="input-field col l10 m10 s12">
                        <input id="pass" type="password" class="validate" name="pass">
                        <label for="pass">Password</label>
                    </div>
                    <button class="waves-effect waves-light btn green" type="submit">Iniciar sesión</button>
                </div>
            </form>
        </div>
    </main>

    <script src="../../resources/js/materialize.min.js"></script>
    <script src="https://kit.fontawesome.com/a1f66ad641.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript" src="../../controllers/components.js"></script>
    <script type="text/javascript " src="../../controllers/Public/login.js"></script>
    <script type="text/javascript" src="../../controllers/verificador.js"></script>
    <script type="text/javascript " src="../../controllers/Public/activaciones_publicas.js"></script>

</body>

</html>