<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Perfil</title>
    <link rel="stylesheet" href="../../resources/css/materialize.min.css" />
    <link rel="stylesheet" href="../../resources/css/private.css" />
    <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">

    <link class="icon" rel="icon" href="../../resources/img/dashboard/shopping.png" />
</head>

<body>
    <!--Estructura de la barra de navegación lateral-->
    <div class="sidebar">
        <div class="logo-details">
            <i class='bx bxl-shopify icon'></i>
            <div class="logo_name">ProculinaryShop</div>
            <i class='bx bx-menu' id="btn"></i>
        </div>
        <ul class="nav-list">
            <li>
                <a href="dashboard.html">
                    <i class='bx bx-grid-alt'></i>
                    <span class="links_name">Dashboard</span>
                </a>
                <span class="tooltip">Dashboard</span>
            </li>
            <li>
                <a href="inventario.html">
                    <i class='bx bxs-book-open'></i>
                    <span class="links_name">Inventario</span>
                </a>
                <span class="tooltip">Inventario</span>
            </li>
            <li>
                <a href="noticias.html">
                    <i class='bx bxs-bell-ring'></i>
                    <span class="links_name">Noticias</span>
                </a>
                <span class="tooltip">Noticias</span>
            </li>
            <li>
                <a href="control_usuarios.html">
                    <i class='bx bxs-user'></i>
                    <span class="links_name">Empleados</span>
                </a>
                <span class="tooltip">Empleados</span>
            </li>
            <li>
                <a href="usuario.html">
                    <i class='bx bxs-user-circle'></i>
                    <span class="links_name">Usuarios</span>
                </a>
                <span class="tooltip">Usuarios</span>
            </li>
            <li>
                <a href="pedidos.html">
                    <i class='bx bxs-package'></i>
                    <span class="links_name">Pedidos</span>
                </a>
                <span class="tooltip">Pedidos</span>
            </li>
            <li>
                <a href="comentarios.html">
                    <i class='bx bxs-message-dots'></i>
                    <span class="links_name">Comentarios</span>
                </a>
                <span class="tooltip">Comentarios</span>
            </li>
            <li>
                <a href="clientes.html">
                    <i class='bx bxs-user-rectangle'></i>
                    <span class="links_name">Clientes</span>
                </a>
                <span class="tooltip">Clientes</span>
            </li>
            <li>
                <a href="estadistica.html">
                    <i class='bx bx-bar-chart-alt'></i>
                    <span class="links_name">Gráficos</span>
                </a>
                <span class="tooltip">Gráficos</span>
            </li>
            <li class="profile">
                <div class="profile-details" id="datosPerfil">
                    <img src="../../resources/img/dashboard/Profile.jpeg" alt="profileImg">
                    <div class="name_job">
                        <div class="name"></div>
                        <div class="job"></div>
                    </div>
                </div>
                <i class='bx bx-log-out' id="log_out" onclick="cerrarSesion()"></i>
            </li>
        </ul>
    </div>

    <!--fin de estructura de sidebar-->
    <!--Home section-->
    <section class="home-section">
        <div class="nav">
            <div class="sidebar-button">
                <span class="dashboard">Perfil</span>
            </div>
            <div class="time hide-on-med-and-down">
                <div class="time-colon">
                    <div class="time-text">
                        <span class="num hour_num">09</span>
                    </div>
                    <span class="colon">:</span>
                </div>
                <div class="time-colon">
                    <div class="time-text">
                        <span class="num min_num">06</span>
                    </div>
                    <span class="colon">:</span>
                </div>
                <div class="time-colon">
                    <div class="time-text">
                        <span class="num sec_num">06</span>
                    </div>
                    <span class="am_pm">AM</span>
                </div>
                <span id="dia" class="dayweek"></span>
                <span id="date" class="day"></span>
                <span class="day-text">De</span>
                <span id="month" class="month"></span>
                <span class="month-text">Del</span>
                <span id="year" class="year"></span>
            </div>
            <div class="darkLight-searchBox">
                <div class="settings">
                    <i class="bx bx-cog"></i>
                </div>
                <div class="dark-light">
                    <i class="bx bx-moon moon"></i>
                    <i class="bx bx-sun sun"></i>
                </div>
            </div>
        </div>
        <main class="row center">
            <div class="row"></div>
            <div class="col l10 m10 s10 push-l1 push-m1 push-s1">
                <div class="col l16 m6 s12">
                    <div class="col l8 m8 s8 push-l2 push-m2 push-s2">
                        <h6>Datos de tu cuenta</h6>
                        <hr>
                        <div class="input-field col s12 m12 l12">
                            <input id="cargo" name="usuario" type="text" class="validate" disabled>
                            <label class="activado" for="cargo">Cargo</label>
                        </div>
                        <div class="input-field col s12 m12 l12">
                            <input id="usuario" name="usuario" type="text" class="validate" disabled>
                            <label class="activado" for="usuario">Usuario</label>
                        </div>
                        <div class="row">
                            <a class="btn modal-trigger" href="#permiso">Modificar</a>
                        </div>
                    </div>
                </div>
                <div class="col l16 m6 s12">
                    <h6>Datos personales</h6>
                    <form action="post" id="datosPersonales">
                        <div class="row">
                            <div class="input-field col l6 m6 s6">
                                <input id="nombre" name="nombre" class="personal" type="text" class="validate" disabled>
                                <label class="activado" for="nombre">Nombre</label>
                            </div>
                            <div class="input-field col l6 m6 s6">
                                <input id="apellido" name="apellido" class="personal" type="text" class="validate"
                                    disabled>
                                <label class="activado" for="apellido">Apellido</label>
                            </div>
                            <div class="input-field col l6 m6 s6">
                                <input id="telefono" name="telefono" class="personal" type="tel" class="validate"
                                    disabled>
                                <label class="activado" for="telefono">Teléfono</label>
                            </div>
                            <div class="input-field col l6 m6 s6">
                                <input id="correo" name="correo" class="personal" type="email" class="validate"
                                    disabled>
                                <label class="activado" for="correo">Correo</label>
                            </div>
                            <div class="input-field col l6 m6 s6">
                                <input id="fecha" name="fecha" class="personal" type="date" class="validate" disabled>
                                <label class="activado" for="fecha">Fecha de nacimiento</label>
                            </div>
                            <div class="input-field col l6 m6 s6">
                                <input id="direccion" name="direccion" class="personal" type="text" class="validate"
                                    disabled>
                                <label class="activado" for="direccion">Dirección</label>
                            </div>
                            <div id="opciones_perfil" class="col l12 m12 s12 center"><a class="btn"
                                    onclick="cambiarOpcionesDatos()">Modificar</a></div>
                        </div>
                    </form>
                </div>
                <div class="col l8 m8 s8 push-l2 push-m2 push-s2">
                    <div class="row">
                        <h6>Segundo paso de autentificación</h6>
                        <hr>
                    </div>

                    <div class="row">
                        <div class="col l6 m6 s6 right-align">
                            Estado:
                        </div>
                        <div id="estado-factor" class="col l6 m6 s6 left-align">
                            Inactivo
                        </div>
                    </div>

                    <div class="row" id="opcionesFactor">
                        <a class="btn" onclick=" activar()">¡Activar!</a>
                    </div>
                </div>
            </div>
        </main>
    </section>


    <!--Modals para cambiar los datos-->

    <!--Modal para verificar la contraseña antes de cambiar la actual-->
    <div id="permiso" class="modal">
        <div class="modal-content">
            <div class="row center">
                <h4>Confirmación de identidad</h4>
                <div class="col l10 m10 s10 push-l1 push-m1 push-s1">
                    <h6>Antes de continuar, es necesario que verifiques tu identidad, para ello coloca tu contraseña
                        para
                        seguir con el cambio de usuario.</h6>
                    <div class="input-field col l8 m8 s10 push-m2 push-l2 push-s1">
                        <input id="passP" name="pass" type="password" class="validate" required
                            onkeypress="return revisarTexto(event)">
                        <label for="passP">Confirmar contraseña</label>
                        <a onclick="ocultar('passP', 'claveP')"><i id="claveP"
                                class="bx bxs-low-vision iconos prefix"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#!" class="waves-effect btn" onclick="verificarPassCuenta()">Verificar</a>
            <a href="#!" class="modal-close waves-effect btn" onclick="limpiarPass('passP')">Cancelar</a>
        </div>
    </div>

    <!--Modal para cambiar la contraseña-->
    <div id="cuenta" class="modal">
        <form action="post" id="formCuenta">
            <div class="modal-content">
                <div class="row center">
                    <h4>Datos de cuenta</h4>
                    <div class="col l10 m10 s10 push-l1 push-m1 push-s1">
                        <div class="input-field col l5 m5 s12">
                            <input id="passN" type="password" class="validate" required
                                onkeypress="return revisarTexto(event)">
                            <label for="passN">Nueva contraseña</label>
                            <a onclick="ocultar('passN', 'claveN')"><i id="claveN"
                                    class="bx bxs-low-vision iconos prefix"></i></a>
                        </div>
                        <div class="input-field col l5 m5 s12 push-l1 push-m1">
                            <input id="passC" type="password" class="validate" required
                                onkeypress="return revisarTexto(event)">
                            <label for="passC">Confirmar contraseña</label>
                            <a onclick="ocultar('passC', 'claveC')"><i id="claveC"
                                    class="bx bxs-low-vision iconos prefix"></i></a>
                        </div>
                        <div class="input-field col l6 m6 s12 push-l3 push-m3">
                            <input type="text" name="usuario" class="validate" id="nombreUsuario">
                            <label for="passC" id="labelUsuario">Nombre de usuario</label>
                        </div>
                        <div class="col l12 m12 s12 left-align">
                            <p>Nota: Si no deseas modificar la contraseña, puedes dejarla en blanco</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="waves-effect btn" type="submit">Verificar</button>
                <a class="modal-close waves-effect btn" onclick="limpiarForm('formCuenta')">Cancelar</a>
            </div>
        </form>
    </div>

    <!--Modal para verificar la contraseña antes de cambiar la actual-->
    <div id="desactivar" class="modal">
        <div class="modal-content">
            <div class="row center">
                <h4>Confirmación de identidad</h4>
                <div class="col l10 m10 s10 push-l1 push-m1 push-s1">
                    <h6>Antes de continuar, es necesario que verifiques tu identidad, para ello coloca tu contraseña
                        para desactivar el segundo paso de autentificación.</h6>
                    <div class="input-field col l8 m8 s10 push-m2 push-l2 push-s1">
                        <input id="passD" type="password" class="validate" required
                            onkeypress="return revisarTexto(event)">
                        <label for="passD">Confirmar contraseña</label>
                        <a onclick="ocultar('passD', 'claveD')"><i id="claveD"
                                class="bx bxs-low-vision iconos prefix"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#!" class="waves-effect btn" onclick="verificarPassCuenta()">Verificar</a>
            <a href="#!" class="modal-close waves-effect btn" onclick="limpiarPass('passD')">Cancelar</a>
        </div>
    </div>

    <!--Modal para verificar el cambio de contraseña-->
    <div id="permiso" class="modal">
        <div class="modal-content">
            <div class="row center">
                <h4>Confirmación de identidad</h4>
                <div class="col l10 m10 s10 push-l1 push-m1 push-s1">
                    <h6>Antes de continuar, es necesario que verifiques tu identidad, para ello coloca tu contraseña
                        para
                        seguir con el cambio de usuario.</h6>
                    <div class="input-field col l8 m8 s10 push-m2 push-l2 push-s1">
                        <input id="passR" type="password" class="validate" required
                            onkeypress="return revisarTexto(event)">
                        <label for="passR">Confirmar contraseña</label>
                        <a onclick="ocultar('passR', 'clave1')"><i id="clave1"
                                class="bx bxs-low-vision iconos prefix"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect btn">Verificar</a>
            <a href="#!" class="modal-close waves-effect btn">Cancelar</a>
        </div>
    </div>


    <script src="../../resources/js/materialize.min.js"></script>
    <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
    <script
        src="https://cdn.jsdelivr.net/npm/chartist-plugin-pointlabels@0.0.6/dist/chartist-plugin-pointlabels.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://kit.fontawesome.com/a1f66ad641.js" crossorigin="anonymous"></script>
    <script src="../../controllers/components.js"></script>
    <script src="../../controllers/private/activaciones_privadas.js"></script>
    <script src="../../controllers/verificador.js"></script>
    <script src="../../controllers/private/opciones_perfil.js"></script>
    <script type="text/javascript " src="../../controllers/private/sidebar.js"></script>
    <script type="text/javascript " src="../../controllers/private/perfil.js"></script>

    <!-- <script src=""></script>-->
</body>

</html>