<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->

    <link rel="stylesheet" href="../../resources/css/materialize.min.css">
    <link rel="stylesheet" href="../../resources/css/private.css">
    <title>ProCulinary Shop</title>
    <link rel="icon" href="../../resources/img/home/shopping.png">
</head>

<body class="row">
    <div class="col l8 m10 s12 pull-l2 pull-m1">
        <div class="col l6 m6 s12 push-l3 push-m3">
            <img src="../../resources/img/logoblack.png" alt="" class="responsive-img">
        </div>
        <div class="col contenedor-divisor-registro">
            <hr class="divisor-registro">
            <h6 class="titulo-registro">Registro de usuario</h6>
        </div>
        <div class="col col 12 m12 s12">
            <form id="registro" method="post" enctype="multipart/form-data" autocomplete="off">
                <div class="input-field col l6 m6 s12">
                    <input id="nombres" name="nombre" type="text" class="validate" required
                        onkeypress="return soloLetras(event)">
                    <label for="nombres">Nombres</label>
                </div>
                <div class="input-field col l6 m6 s12">
                    <input id="Apellidos" name="apellido" type="text" class="validate" required
                        onkeypress="return soloLetras(event)">
                    <label for="Apellidos">Apellidos</label>
                </div>
                <div class="input-field col l6 m6 s12">
                    <input id="correo" name="correo" type="email" class="validate" required
                        onkeypress="return revisarTexto(event)">
                    <label for="correo">Correo</label>
                </div>
                <div class="input-field col l6 m6 s12">
                    <input id="telefono" name="telefono" type="tel" class="validate" required
                        onkeypress="return verificarTel(event, '')">
                    <label for="telefono">Teléfono</label>
                </div>
                <div class="input-field col l6 m6 s12">
                    <input id="dui" name="dui" type="text" class="validate" required
                        onkeypress="return verificarDUI(event, 'dui')">
                    <label for="dui">DUI</label>
                </div>
                <div class="input-field col l6 m6 s12">
                    <input id="dui" name="dui" type="text" class="validate" required
                        onkeypress="return verificarDUI(event, 'dui')">
                    <label for="dui">Fecha de nacimiento</label>
                </div>
                <div class="input-field col l12 m12 s12">
                    <input id="direccion" name="direccion" type="text" class="validate" required
                        onkeypress="return revisarTexto(event)">
                    <label for="direccion">Dirección</label>
                </div>
                <div class="input-field col l6 m6 s12">
                    <input name="usuario" id="usuario" type="tel" class="validate" required
                        onkeypress="return letras_numeros(event)">
                    <label for="usuario">Usuario</label>
                </div>
                <div class="input-field col l6 m6 s12">
                    <input id="pass" name="pass" type="password" class="validate" required
                        onkeypress="return revisarTexto(event)">
                    <label for="contraseña">Contraseña</label>
                </div>
                <div class="input-field col l6 m6 s12">
                    <input id="passR" type="password" class="validate" required>
                    <label for="contraseñaR" onkeypress="return revisarTexto(event)">Confirmar contraseña</label>
                </div>
                <div class="col l12 m12 s12 center-align">
                    <button class="waves-effect waves-light btn" type="submit">Crear cuenta</button>
                </div>

            </form>
        </div>


    </div>


    <script src="../../resources/js/materialize.min.js"></script>
    <script src="https://kit.fontawesome.com/a1f66ad641.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript" src="../../controllers/components.js"></script>
    <script type="text/javascript " src="../../controllers/private/registro.js"></script>
    <script type="text/javascript" src="../../controllers/verificador.js"></script>
    <script type="text/javascript " src="../../controllers/Public/activaciones_publicas.js"></script>

</body>

</html>