<!DOCTYPE html>
<html lang="en">

<head>
    <!--Agregando etiquetas meta-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Agregando archivos de estilo-->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../../resources/css/materialize.min.css">
    <link rel="stylesheet" href="../../resources/css/public.css">



    <!--Titulo e icono de la página-->
    <title>ProCulinary Shop</title>
    <link rel="icon" href="../../resources/img/home/shopping.png">
</head>

<body>
    <nav id="sticky-nav" class="nav-wrapper green ">
        <div class="row">
            <div class="col s1">
                <a href="#" data-target="sidenav-list" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            </div>
            <div class="col s2">
                <img src="../../resources/img/home/Recurso 11.png" class="logo  hide-on-small-only hide-on-med-and-down">
            </div>
            <div class="col s8 hide-on-small-only hide-on-med-and-down">
                <div class="section-2">
                    <form class="form" autocomplete="off">
                        <div class="buscar">
                            <input id="input-field" type="text " placeholder="Buscar...">
                        </div>
                    </form>
                </div>
            </div>
            <div id="nav_down" class="col s12 m6 12">
                <img src="../../resources/img/home/Recurso 11.png" class="logo-2 hide-on-large-only ">
                </a>
                <ul class=" left hide-on-med-and-down">
                    <li><a href="catalogo.html"><i class="material-icons left">shop</i>Catálogo</a></li>
                    <li><a href="#"><i class="material-icons left">contacts</i>Sobre Nosotros</a></li>
                    <li><a href="#"><i class="material-icons left">info </i>Centro de Ayuda</a></li>
                    <li><a href="#"><i class=" material-icons left">add_shopping_cart</i><span
                                class="new badge">1</span></a></li>
                    <li><a href="#"><i class="material-icons left">group</i>Acceso a cuenta</a>
                </ul>
            </div>
        </div>
    </nav>
    <ul class="sidenav" id="sidenav-list">
        <li><a href="badges.html">Catálogo</a></li>
        <li><a href="collapsible.html">Sobre Nosotros</a></li>
        <li><a href="mobile.html">Centro de Ayuda</a></li>
    </ul>
    <section class="contenedor_detalle center-align row">
        <div class="col l10 offset-l1">
            <h5>Carrito de compras</h5>
            <div class="row">
                <div class="col l6 m6 s12">
                    <h6>Nombre producto</h6>
                </div>
                <div class="col l1 m1 s12">
                    <h6>Precio unitario</h6>
                </div>
                <div class="col l2 m2 s12">
                    <h6>Cantidad</h6>
                </div>
                <div class="col l2 m2 s12">
                    <h6>Subtotal</h6>
                </div>
            </div>
            <div id="productos_carrito">
                
            </div>
            <button class="btn waves-effect waves-light deep-orange accent-4 opciones_carrito valign-wrappe" type="submit" name="action" onclick="eliminarPedido()">
                Cancelar
                <i class='bx bxs-x-circle'></i>
            </button>
            <button  class="btn waves-effect waves-light green accent-4 opciones_carrito valign-wrapper" type="submit" name="action" onclick="verificarExistencia()">
                Pedir
                <i class='bx bxs-shopping-bag'></i>
            </button>

        </div>
    </section>
    <footer id="all-footer" class="page-footer green">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text"><img src="../../resources/img/home/Recurso 11.png" alt=""></h5>
                    <p class="content-1 grey-text text-lighten-4"> Esta tienda ha sido creada con la funcionalidad de facilitarte tus compras de utensilios profesionales de cocina y de la mejor calidad, Para saber más de nosotros puedes ver nuestra historia en sobre nosotros.
                    </p>
                </div>
                <div id="redes-container" class="col l4 offset-l2 s12">
                    <h5 class="content-1 ">Redes Sociales</h5>
                    <ul class="content">
                        <li><a id="facebook" href="#"><i class="fa-brands fa-facebook-f"></i></a>
                        </li>
                        <li><a id="twitter" href="#!"><i class="fa-brands fa-twitter"></i></a></li>
                        <li><a id="instagram" href="#!"><i class="fa-brands fa-instagram"></i></a>
                        </li>
                        <li><a id="whatsapp" href="#!"><i class="fa-brands fa-whatsapp"></i> </a></li> <br><br>

                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div id="footer-align" class="content container ">
                © 2022 Departamento Técnico de Proculinaryshop

            </div>
        </div>
    </footer>

    <script src="../../resources/js/materialize.min.js"></script>
    <script src="https://kit.fontawesome.com/a1f66ad641.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript" src="../../controllers/components.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.js"
        integrity="sha512-Bw9Zj8x4giJb3OmlMiMaGbNrFr0ERD2f9jL3en5FmcTXLhkI+fKyXVeyGyxKMIl1RfgcCBDprJJt4JvlglEb3A=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.25/jspdf.plugin.autotable.js"
        integrity="sha512-elg9Cs/wmju8u77pchpE2NsmBPARPaa5emzKtYheBWtLBMysQR+s4zMBuBdx30fSIP2W+MVH6YadKNrJxsOfbA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="../../resources/js/wNumb.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment-with-locales.min.js"
        integrity="sha512-42PE0rd+wZ2hNXftlM78BSehIGzezNeQuzihiBCvUEB3CVxHvsShF86wBWwQORNxNINlBPuq7rG4WWhNiTVHFg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript " src="../../controllers/public/carrito.js"></script>
    <script type="text/javascript" src="../../controllers/verificador.js"></script>
    <script type="text/javascript " src="../../controllers/public/activaciones_publicas.js"></script>

</body>

</html>